<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://webstockreview.net/images/clipart-airplane-logo-11.png" id="icon" alt="User Icon" width="10" height="80" style="margin-top: 1em; margin-bottom: 2em;"/>
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" [(ngModel)]="username">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" [(ngModel)]="password">
        <input type="button" class="fadeIn fourth" value="Log In" (click)="loginSubmit()" >
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>