<form #assignment1="ngForm" (ngSubmit)="addEmployee()">
    <div class="card" style="margin-top: 1em;">
        <div class="card-header">
            Angular Operation
        </div>
        <div class="card-body">
            <div class="row">
                <label class="col-2 col-md-2">ID:</label>
                <div class="col-4 col-md-4">
                    <input type="number" class="form-control ng-untouched ng-pristine ng-valid" required
                        [(ngModel)]="employee.id" name="id" />
                </div>
               

            </div>
            <div class="row">
                <div class="col-2 col-md-2">
                    Name:
                </div>
                <div class="col-4 col-md-4">
                    <input type="text" required class="form-control ng-untouched ng-pristine ng-valid"
                        [(ngModel)]="employee.name" name="name" />
                </div>

            </div>
            <div class="row">
                <div class="col-2 col-md-2">
                    Salary:
                </div>
                <div class="col-4 col-md-4">
                    <input type="number" required class="form-control ng-untouched ng-pristine ng-valid" name="salary"
                        [(ngModel)]="employee.salary" />
                </div>

            </div>
            <div class="row">
                <div class="col-2 col-md-2">
                    Department:
                </div>
                <div class="col-4 col-md-4">
                    <input type="text" required class="form-control ng-untouched ng-pristine ng-valid" required
                        [(ngModel)]="employee.department" name="department" />
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-4 col-md-2 offset-md-2">
                <button type="submit" class="btn btn-primary" [disabled]="!assignment1.form.valid" style="margin-bottom: 1em;">Add Employee</button>
            </div>
            <div class="col-4 col-md-2 ">
                <button type="button" class="btn btn-secondary" (click)="assignment1.reset();resetText()" style="margin-bottom: 1em; margin-left: 1em;">Cancel </button>
            </div>

        </div>
        <div class="card-footer text-muted">
            {{text}}
        </div>
    </div>
</form>

<hr>
<div class="media">
    <a class="d-flex" href="#">
        <img src="../../assets/img/tarea11.png" alt="">
    </a>
    <div class="media-body">
        <a class="d-flex" href="#">
            <img src="../../assets/img/tarea12.png" alt="">
        </a>
    </div>
</div>