
<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/welcome']"  routerLinkActive="active">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/products']" routerLinkActive="active">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/employee']" routerLinkActive="active">Employee</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/signup']" routerLinkActive="active">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/assignment1']" routerLinkActive="active">Assignment1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/assignment2']" routerLinkActive="active">Assignment2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" [routerLink]="['/assignment3']" routerLinkActive="active">Assignment3</a>
            </li>
             
        </ul>
          
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>