<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <header class="card-header">

                <h4 class="card-title mt-2">Sign up</h4>
            </header>
            <article class="card-body">
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name </label>
                            <input type="text" name="firstName" formControlName="firstName" class="form-control"
                                placeholder="" id="firstName">
                            <div *ngIf="signupForm.get('firstName').invalid && (signupForm.get('firstName').dirty || signupForm.get('firstName').touched)"
                                class="alert-danger">

                                <div *ngIf="signupForm.get('firstName').errors?.required">
                                    <small class="form-text text-muted">First Name is required</small>
                                </div>
                                <div *ngIf="signupForm.get('firstName').errors?.minlength">
                                    <small class="form-text text-muted"> Name must be at least 4 characters
                                        long.</small>
                                </div>

                            </div>
                        </div>
                        <div class="col form-group">
                            <label>Last name</label>
                            <input type="text" formControlName="lastName" class="form-control" placeholder=" ">
                            <div *ngIf="signupForm.get('lastName').invalid && (signupForm.get('lastName').dirty || signupForm.get('lastName').touched)"
                                class="alert-danger">

                                <div *ngIf="signupForm.get('lastName').errors?.required">
                                    <small class="form-text text-muted">Last Name is required</small>
                                </div>
                                <div *ngIf="signupForm.get('lastName').errors?.minlength">
                                    <small class="form-text text-muted"> Name must be at least 4 characters
                                        long.</small>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="email" formControlName="email" class="form-control" placeholder="">
                        <div *ngIf="signupForm.get('email').invalid && (signupForm.get('email').dirty || signupForm.get('email').touched)"
                                class="alert-danger">

                                <div *ngIf="signupForm.get('email').errors?.required">
                                    <small class="form-text text-muted">The email is required</small>
                                </div>
                                <div *ngIf="signupForm.get('email').errors?.email">
                                    <small class="form-text text-muted"> Not is an email valid</small>
                                </div>

                            </div>
                       
                    </div>
                    <div class="form-row">


                        <div class="col form-group">
                            <div class="form-row">
                                <label>Notification</label>
                            </div>
                            <div class="form-row">
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"  value="Yes" formControlName="notification">
                                    <span class="form-check-label"> Yes </span>
                                </label>
                                <label class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio"  value="No" formControlName="notification">
                                    <span class="form-check-label"> No</span>
                                </label>
                            </div>
                        </div>
                        <div class="col form-group">
                            
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>City</label>
                            <input type="text" class="form-control" formControlName="city">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Country</label>
                            <select id="inputState" class="form-control" formControlName="country">
                                <option> Choose...</option>
                                <option>Uzbekistan</option>
                                <option>Russia</option>
                                <option selected="">United States</option>
                                <option>India</option>
                                <option>Afganistan</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" formControlName="password">
                    </div>
                    <div class="form-group">
                        <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary btn-block"> Register
                        </button>
                    </div>
                </form>
            </article>
        </div>
    </div>

</div>