<p>product-list works!</p>

<div>Filter By: <input  type="text" [(ngModel)]="listFilter" ></div>
<br>
Search: {{listFilter}}
<br>
<button type="button" class="btn btn-outline-primary" (click)="submitButton()">Click</button>
<br>
<table class="table" *ngIf="products && products.length">
    <thead>
        <tr>
            <th>Image</th>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products | filterProductList: listFilter">
            <td>
                <img [src]="product.imageUrl" width="50" 
                height="50" (click)="showDetails(product)"
                style="cursor: pointer;" />
 
            </td>
            <td>{{product.productId}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.price | currency: 'USD'}}</td>
            <td><app-star [rating]="product.units"></app-star></td>
            
        </tr>
      
    </tbody>
</table>
<app-welcome></app-welcome>
<app-product-detail ></app-product-detail>
