input.ng-dirty  {
    border-left: 5px solid #42A948; /* green */
  }
  
  input.ng-touched.ng-invalid  {
    border-left: 5px solid #a94442; /* red */
  }

  .mydialog {
    width: 50vw;
}

@media screen and (max-width: 40em) {
    .mydialog {
        width: 75vw;
    }
}

 