<form [formGroup]="employeeForm">

    <div class="row">
        <label class="col-2 col-md-2">ID:</label>
        <div class="col-4 col-md-10">
            <input type="number" class="form-control ng-untouched ng-pristine ng-valid" required
                formControlName="idForm" name="id" />
        </div>


    </div>
    <div class="row">
        <div class="col-2 col-md-2">
            Name:
        </div>
        <div class="col-10 col-md-10">
            <input type="text" required class="form-control ng-untouched ng-pristine ng-valid"
                formControlName="nameForm" name="name" />
        </div>

    </div>
    <div class="row">
        <div class="col-2 col-md-2">
            Salary:
        </div>
        <div class="col-10 col-md-10">
            <input type="number" required class="form-control ng-untouched ng-pristine ng-valid" name="salary"
                formControlName="salaryForm" />
        </div>

    </div>
    <div class="row">
        <div class="col-2 col-md-2">
            Department:
        </div>
        <div class="col-10 col-md-10">
            <input type="text" required class="form-control ng-untouched ng-pristine ng-valid" required
                formControlName="depForm" name="department" />
        </div>

    </div>

    <div class="row">
        <div class="col-6 col-md-5 offset-md-2 ">
            <button type="button" *ngIf="editarOadd == 'Add'" class="btn btn-primary" style="margin-bottom: 1em;"
                (click)="agregarEmployee()">Add Employee</button>
            <button type="button" *ngIf="editarOadd == 'Editar'" class="btn btn-primary" style="margin-bottom: 1em;"
                (click)="submitEmployee()">Edit Employee</button>
        </div>
        <div class="col-6 col-md-5 ">
            <button type="button" class="btn btn-secondary" (click)="resetForm()"
                style="margin-bottom: 1em; margin-left: 1em;">Cancel </button>
        </div>
    </div>
</form>